<div>
    <h1>{{user.name}}, este es tu carrito</h1>
    {{#if products}}
    <br>
    <h4>Precio total:${{this.totalPrice}}</h4>
    {{#each products}}
    <div class="cartContainer">
        <div class="cartContext">
            <div id="{{this.id}}">
                <img src="{{this.thumbnail}}" alt="" class="foto">
            </div>
            <div class="col">
                <p>{{this.title}} x {{this.cantidad}}</p>
                <p>${{this.price}}</p>
            </div>
            <form action="/api/cart/deleteProduct/{{this._id}}" method="POST">
            <input type="submit" value="borrar producto">
            </form>
        </div>
    </div>
    {{/each}} 
    <div>
        <a id="purchase" style="cursor: pointer;">
            <strong>
                Finalizar compra
            </strong>
        </a>
        <a href="/products">
            Seguir comprando
        </a>    
    </div>
    {{else}}
    <h5 style="margin: 20px;font-size:x-large">No tienes productos en tu carrito aun</h5>
    <a href="/products">
        <button class="button">
            Ir a comprar
        </button>
    </a>
    {{/if}}
</div>
<script src="/js/cart.js"></script>
<link rel="stylesheet" href="css/cart.css">